@import url(//fonts.googleapis.com/css?family=Google+Sans:400,500,600,700);

.center {
    text-align: center;
    margin: 0 auto;
}

.left {
    text-align: left;
}

body {
    background-color: #E8EAED;
    font-family: 'Google Sans', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.3px;
    text-rendering: optimizeLegibility;
}

.titulo {
    font-size: 26px;
    line-height: 24px;
    font-weight: 500;
    color: #1967D2;
    text-decoration: none;
}

.contenedor{
    background-color: #FFFFFF;
    border-radius: 15px;
    width: 450px;
    margin: 10px auto;
}
#capturar, #detectar{
    display: none;
}